.footer{
background-color: rgb(25, 255, 128);
}
.textTengah{
  font-family: Delicious;
  font-size: 30px;
  margin: auto;
}
.header{
  background-color: rgb(25, 255, 128);
}
.tombol{
  background-color: rgb(25, 255, 128);
}
